* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lavender;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.container {
  background-color: pink;

  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.item {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  margin: 1px;
  border-radius: 5px;
  display: grid;
}
